<html class="htmlHome">
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4">Guest Book</h1>
    <p>Hey You! It would be awesome if you leave a nice message on my page. <br>
    Go to GuestBook page or just <a href="https://localhost:5001/Movies">click here</a>.</p>
</div>

</html>